<section class="about-section hiding animate__animated" id="about">
  <div class="container">
    <div class="row d-flex" data-scrollax-parent="true">
      <div
        class="col-md-5 author-img pl-3"
        style="transform: translateY(100px)"
      ></div>
      <div class="col-md-0"></div>
      <div class="col-md-7 wrap ftco-animate">
        <div class="about-desc">
          <h1 class="bold-text">About</h1>
          <div class="p-5 about">
            <h2 class="mb-5">
              Hi! I'm Ale Sumanth and I love Coding.
              <i class="fas fa-code"></i>
            </h2>
            <p class="about-para">
              My primary focus is on building Front End Web Applications, Native
              Mobile Applications, REST Services and Responsive Design. My
              skillsets include languages like JavaScript, Java, CSS, HTML, SQL
              together with frameworks like Angular, React JS, Spring, and
              Bootstrap.
              <br />
              <br />
              I do this because I love the process of turning dreams into
              reality by converting ideas into code. I have a serious passion
              for designing the top-grade UI’s with working logic to create a
              dynamic user experience.
              <br />
              <br />
              I have spent the past two years learning top-notch technologies
              and enhancing my skill sets. I have developed a few Websites.
              <br />
              <br />
              I graduated from SRM University in COMPUTER SCIENCE AND
              ENGINEERING.
              <br />
              <br />
              On a side note, I love teaching programming, playing cricket, and
              learning new technologies every day. It is something that allows
              me to be creative, connect with people, and even just bring people
              together.
            </p>

            <ul class="ftco-footer-social list-unstyled mt-4 animate__animated">
              <li class="">
                <a
                  href="https://www.linkedin.com/in/sumanth-ale-5b210a151/"
                  target="_blank"
                  ><i class="fab fa-linkedin animate__animated"></i
                ></a>
              </li>
              <li class="">
                <a href="https://github.com/sumanthale" target="_blank"
                  ><i class="fab fa-github animate__animated"></i
                ></a>
              </li>
              <li class="">
                <a href="https://www.instagram.com/imsunny_99/" target="_blank"
                  ><i class="fab fa-instagram animate__animated"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section hiding animate__animated" id="services">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="what">What i do</span>
        <h2>My services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
          <div class="icon mb-3 justify-content-center">
            <i class="fas fa-layer-group"></i>
          </div>
          <div class="media-body">
            <h3 class="heading">UI/UX Design</h3>
            <h3 class="heading">Web Design</h3>
            <h3 class="heading">Responsive Design</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
          <div class="icon mb-3"><i class="fas fa-cogs"></i></div>
          <div class="media-body">
            <h3 class="heading">Full Stack Development</h3>
            <h3 class="heading">Frontend</h3>
            <h3 class="heading">Backend</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
          <div class="icon mb-3"><i class="fas fa-code"></i></div>
          <div class="media-body">
            <h3 class="heading">Technologys</h3>
            <h3 class="heading">
              JavaScript(ES6), Java, React JS, Angular, Spring, Firebase, MYSQL
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
