<footer class="footer hiding animate__animated" id="contact">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-5 text-center">
        <div class="ftco-footer-widget mb-5">
          <ul class="social list-unstyled">
            <li class="ftco-animate">
              <a
                href="https://www.linkedin.com/in/sumanth-ale-5b210a151/"
                target="_blank"
                ><span class="fab fa-linkedin animate__animated"></span
              ></a>
            </li>
            <li class="ftco-animate">
              <a href="https://github.com/sumanthale" target="_blank"
                ><span class="fab fa-github animate__animated"></span
              ></a>
            </li>
            <li class="ftco-animate">
              <a href="https://www.instagram.com/imsunny_99/" target="_blank"
                ><span class="fab fa-instagram animate__animated"></span
              ></a>
            </li>
          </ul>
          <button id="resume" class="btn btn-lg bg-dark text-primary">
            <a href="#null" download="#">Checkout my resume</a>
          </button>
        </div>
        <div class="contact">
          <h2 class="mb-3">Contact Me</h2>
          <p class="h3 email">
            <a href="mailto:sumanthale@gmail.com">sumanthale@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row copy">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          {{ date }}
          ALE SUMANTH. All rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
