<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
  <div class="nav-div">
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>
  </div>
  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link"><span>01</span>Home</a>
      </li>
      <li class="navigation__item">
        <a href="#about" class="navigation__link"><span>02</span>About Me</a>
      </li>
      <li class="navigation__item">
        <a href="#experience" class="navigation__link"
          ><span>03</span>Experience</a
        >
      </li>
      <li class="navigation__item">
        <a href="#projects" class="navigation__link"><span>04</span>Projects</a>
      </li>

      <li class="navigation__item">
        <a href="#contact" class="navigation__link"><span>05</span>Contact</a>
      </li>
    </ul>
  </nav>
</div>
