$color-lime: #bfff00c9;
.projects-section {
  position: relative;
  margin-top: 15rem;
  color: white;
}

.heading-section {
  span {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #8c8c8c;
    text-transform: uppercase;
  }
  h2 {
    font-size: 4rem;
    font-weight: 600;
  }
}

.clone {
  height: 40vw;
  width: 100%;
  background-size: 100% 100%;
  margin: 50px 0px;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
}
.subheading {
  font-size: 3rem;
  font-weight: 500;
}
.heading {
  font-size: 4rem;
}
a {
  color: $color-lime;
}
.text p {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #8c8c8c;
  text-align: justify;
}
hr.style1 {
  border-top: 1px solid #8c8b8b;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(173, 173, 173, 0),
    rgba(223, 223, 223, 0.75),
    rgba(173, 173, 173, 0)
  );
}
hr {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
