<section class="projects-section" id="projects">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center heading-section">
        <span>Portfolio</span>
        <h2>Checkout a few of my works</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <!-- <div class="block-3 d-md-flex " data-scrollax-parent="true">
        <a
          href="https://5e660e1b7e060051e0e02cc7--react-chat-app-rishi.netlify.app/"
          target="_blank"
          class="image land-img order-2 d-flex justify-content-center align-items-center"
          style="background-image: url('images/p2.png')"
          data-scrollax=" properties: { translateY: '-30%'}"
        >
          <div
            class="icon d-flex text-center justify-content-center align-items-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
        <div class="text order-1">
          <h4 class="subheading">React Real Time Chat Application</h4>
          <h2 class="heading">
            <a href="portfoli-singleo.html"
              >Built with React JS, Node JS and Socket IO</a
            >
          </h2>
          <p>
            This is a real-time messaging web app. Enter your name,room, share
            room name with freinds to chat in the same room and see who is
            online in the room.This is a real-time messaging web app. Enter your
            name, room, share room name with freinds to chat in the same room
            and see who is online in the room.
          </p>
          <p>
            <a
              href="https://5e660e1b7e060051e0e02cc7--react-chat-app-rishi.netlify.app/"
              target="_blank"
              >View Project Live</a
            >
            <a
              class="ml-5"
              href="https://github.com/pate0672/React-Chat-App"
              target="_blank"
              >View Project on Github</a
            >
          </p>
          <hr class="style1" />
        </div>
      </div> -->

      <div
        class="images clone d-flex justify-content-center align-items-center hiding animate__animated"
        style="background-image: url('../../../assets/COVIDSite.png')"
        data-scrollax=" properties: { translateY: '-30%'}"
      ></div>
      <div class="block-1 d-md-flex" data-scrollax-parent="true">
        <div class="text order-1">
          <h4 class="subheading">
            Built with JavaScript(ES6), HTML5, CSS3, Bootstrap 4, Google Maps
            API and Chart.js
          </h4>
          <h2 class="heading">
            <a href="#null">COVID-19 Tracker</a>
          </h2>
          <p>
            Unfortunately, we have seen the biggest pandemic in human era and
            that did messes up a lot of people's lives. It is a hard time for
            everyone as we have to check the number of cases every signle day
            and hoping for it to end and I used to check stats of COVID-19 on
            bing.com/covid and I was very curious how did it worked, so I
            started building my own and utilized the unfortunate time. Started
            from very scratch by creating it's design in a piece of paper and
            then drew it in figma software called draw.io. Later, I started
            building it and displayed the Map using the Google Maps API and
            fetched the covid data from an
            API("https://disease.sh/v2/historical/all?lastdays=150"). I used
            chart.js library to display beautiful looking charts.

            <br />
            SIDE NOTE: If you are seeing this after few years, I am glad you
            made through the pandemic in 2020.
          </p>
          <p>
            <a href="#null">View Project Live</a>
            <a class="ml-3" href="#null">View Project on Github</a>
          </p>

          <hr class="style1" />
        </div>
      </div>
      <div
        class="images clone d-flex justify-content-center align-items-center hiding animate__animated"
        style="background-image: url('../../../assets/shopify.png')"
        data-scrollax=" properties: { translateY: '-30%'}"
      ></div>
      <div class="block-1 d-md-flex" data-scrollax-parent="true">
        <div class="text order-1">
          <h4 class="subheading">
            Built with ReactJS, Firebase, Redux, Stripe, Styled Components and
            Hooks.
          </h4>
          <h2 class="heading">
            <a href="https://shopify-islive.herokuapp.com/" target="_blank"
              >SHOPIFY</a
            >
          </h2>
          <p>
            This project is made using ReactJS as FrontEnd and firebase as its
            backend. User can signIn and search the items in various required
            category, can add a item to cart and then increase or decrease the
            item quantity. I used redex for state management, stored the state
            and used it in all the required components also added a stripe api
            so user can pay the amount for the items he want to purchase.
          </p>
          <p>
            <a href="https://shopify-islive.herokuapp.com/" target="_blank"
              >View Project Live</a
            >
          </p>

          <hr class="style1" />
        </div>
      </div>
      <div
        class="images clone d-flex justify-content-center align-items-center hiding animate__animated"
        style="background-image: url('../../../assets/whatsapp-clone.PNG')"
        data-scrollax=" properties: { translateY: '-30%'}"
      ></div>
      <div class="block-1 d-md-flex" data-scrollax-parent="true">
        <div class="text order-1">
          <h4 class="subheading">
            Built with Angular, JavaScript(ES6), HTML, CSS, Angular Material,
            Firebase.
          </h4>
          <h2 class="heading">
            <a href="https://whatsapp-clone-7cbc6.web.app/" target="_blank"
              >WhatsApp Clone</a
            >
          </h2>
          <p>
            I made a whatsapp clone with angular as Frontend and Firebase as
            backend. Also added google Auth and Angular routers. User need to
            signup using Google account and can chat in the groups that are
            alredy created or can create a new group. Also user can search
            through the Chats.
            <br />
            I made the replica as close as possible.
          </p>
          <p>
            <a href="https://whatsapp-clone-7cbc6.web.app/" target="_blank"
              >View Project Live</a
            >
            <a class="ml-3">View Project on Github</a>
          </p>

          <hr class="style1" />
        </div>
      </div>
      <div
        class="images clone d-flex justify-content-center align-items-center hiding animate__animated"
        style="background-image: url('../../../assets/expense_tracker.PNG')"
        data-scrollax=" properties: { translateY: '-30%'}"
      ></div>
      <div class="block-1 d-md-flex" data-scrollax-parent="true">
        <div class="text order-1">
          <h4 class="subheading">
            Built with JSP, CSS, Java Script, Spring Boot, hibernate using JPA
            and My SQL.
          </h4>
          <h2 class="heading">
            <a href="https://whatsapp-clone-7cbc6.web.app/" target="_blank"
              >Expense Tracker App</a
            >
          </h2>
          <p>
            Expense tracker application can store the income and the expenses.
            User can register and Sign In the application. User will be able to
            record expenses on each day he makes. User can update and delete his
            expenses and user can also change his account details like email,
            password and income.
            <br />
            Reports can be plotted as various graphs to identify on which the
            expense is more. It can show expenses by category and also by a
            particular date. User can also check his Expense VS Income graph.
            Also, on logging into the system Dashboard have an indicator of all
            the expenses and also the one which is peaking. It can give the
            graph of the expenses across a year.
          </p>
          <p>
            <!-- <a href="https://whatsapp-clone-7cbc6.web.app/" target="_blank"
              >View Project Live</a
            > -->
            <a
              href="https://github.com/sumanthale/expense_tracker_project"
              target="_blank"
              class="ml-3"
              >View Project on Github</a
            >
          </p>

          <!-- <hr class="style1" /> -->
        </div>
      </div>
      <!--
      <div
        class="imagess d-flex justify-content-center align-items-center"
        style="background-image: url('images/OTE.png')"
        data-scrollax=" properties: { translateY: '-30%'}"
      ></div>
      <div class="block-1 d-md-flex" data-scrollax-parent="true">
        <div class="text">
          <h2 class="heading">
            <a class="text-light" href="portfolio-single.html"
              >Online Text Editor</a
            >
          </h2>
          <h4 class="subheading text-muted">
            Built with JavaScript(ES6), Bootstrap 4, HTML5, and CSS3.
          </h4>
          <p>
            This is an Online Text Editor very similar to Google Docs. It allows
            users to format text with different sizes, alignments, colours and
            most importantly speak the text for user in different voices.
            <br /><br />
            It includes automatic features like making the text: <br />

            Large, Regular, Small, Bold, Italic, Underline, Align(left, center,
            right), colourful(green, blue, red, black)

            <br />

            One key technology it includes is that it also SPEAKS the formatted
            text for you in different voices.

            <br />
            <br />

            I was always fasicanted as a teenage how the most used application
            works i.e. Google Docs and that fascination of technology led me to
            build my own customized online text editor with additional features.
          </p>
          <p></p>
          <p>
            <a
              href="https://5e660e1b7e060051e0e02cc7--react-chat-app-rishi.netlify.app/"
              target="_blank"
              >View Project Live</a
            >
            <a
              class="ml-5"
              href="https://github.com/pate0672/React-Chat-App"
              target="_blank"
              >View Project on Github</a
            >
          </p>

          <hr class="style1" />
        </div>
      </div> -->
      <!-- <div class="block-3 d-md-flex " data-scrollax-parent="true">
        <a
          target="_blank"
          href="https://pate0672.github.io/Weather-App/"
          class="image land-img d-flex justify-content-center align-items-center"
          style="background-image: url('images/Weatherapp.png')"
          data-scrollax=" properties: { translateY: '-30%'}"
        >
          <div
            class="icon d-flex text-center justify-content-center align-items-center"
          >
            <span class="icon-search"></span>
          </div>
        </a>
        <div class="text">
          <h4 class="subheading">
            Built with Bootstrap 4, JavaScript, HTML5, CSS3 and Weather API
          </h4>
          <h2 class="heading">
            <a href="portfoli-singleo.html">The Weather App</a>
          </h2>
          <p>
            I have deevloped this weather app by fetching data from weather API
            using latest ES 6. It always fascinated me how things work in a
            weather app and that made me build this beautiful weather app. It
            shows data for every city in the world with a very high accuracy.
          </p>
          <p>
            <a target="_blank" href="https://pate0672.github.io/Weather-App/"
              >View Project</a
            >
          </p>
          <hr class="style1" />
        </div>
      </div> -->
    </div>
  </div>
</section>
