<div class="experience hiding animate__animated" id="experience">
  <div class="container">
    <h1 class="display-4 font-weight-bold">Experience</h1>
    <h1 class="company mt-5">Cognizant</h1>
    <h4 class="position mt-4">Full Stack Developer</h4>
    <h4 class="time mt-1">Feburary 2020 - Present</h4>
    <p class="mt-3">
      - I Started as an Intern and Joined the company as a full time
      Employee.<br />
      - Acquired new skills and learned new technologys was also guided by
      senior developers.<br />
      - Built a complete website from scratch for the tracking day-to-day Income
      and Expenses of Users on various Graphs with Authentication.
    </p>
    <p class="link">
      <a href="#null">Contact Sumanth's Manager </a>
    </p>
  </div>

  <!-- <div class="container mt-5">
    <h1 class="ex-company mt-5">Canada Border Services Agency</h1>
    <h4 class="ex-position mt-4">UI/UX Designer and Developer</h4>
    <h4 class="ex-time mt-1">Jan 2020 - April 2020</h4>
    <p>
      - I was in one of the two teams from the whole college who was hired to
      work with the government.<br />
      - We developed a voice application for Canadian travellers to teach them
      about border rules and regulations. <br />
      - We developed Amazon Alexa Skill and Google Action to improve the search
      speed from 4 mins to less than a min.
    </p>
    <p>
      <a href="https://www.linkedin.com/in/" target="_blank"
        >Contact
      </a>
    </p>
  </div> -->
</div>
